<md-dialog aria-label="Mango (Fruit)">
    <form name="suscriptionForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{action}} Suscripcion</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="color: white" class="material-icons step">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom md-dynamic-width>
                <md-tab label="INFO" layout="row" ng-click="uploadImage = false">
                    <md-content flex="100" class="md-padding">
                        <div layout="column">
                            <md-input-container flex-gt-sm class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <label>Email</label>
                                <md-icon style="color:red" class="material-icons step">email</md-icon>
                                <input ng-model="suscription.email" type="email" required>
                            </md-input-container>
                            <md-list>
                                <md-list-item>
                                    <md-icon style="color:red" class="material-icons step">check_circle</md-icon>
                                    <p> Activo </p>
                                    <md-switch class="md-secondary" ng-model="suscription.active"></md-switch>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-if="newItem" ng-click="add(suscription)" md-autofocus ng-disabled="suscriptionForm.$invalid" class="md-accent md-hue-2">
                <md-icon class="material-icons step">save</md-icon>
            </md-button>
            <md-button ng-if="!newItem" ng-click="save(suscription)" md-autofocus ng-disabled="suscriptionForm.$invalid" class="md-primary">
                <md-icon style="color: green" class="material-icons step">save</md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>